<html>
    <head>
        <title>
            Student
        </title>
    </head>
    <body>
        <!-- {% set x=userData.__setitem__("key", "value") %} -->
        <!-- {{userData["id"]}}
        studentData = {{userData}} -->
        <!-- updte my info -->

        <div id="menu" >
            <a href='/student/updetemyinfo?id={{userData["id"]}}' >Update my info</a>
            <button type = "button">View academic marks</button>
            <button type = "button">View non-academic marks</button>
            <button type = "button">See top 5 students</button>
        </div>
    </body>
</html>