<html>
    <head>
        <title>
            Student | view NonAcademic Marks
        </title>
    </head>
    <body>
        <!-- studentData = {{userData}} -->
        <!-- updte my info -->
        <div id="viewNonAcademicMarks">
            <table class="table"></table>

            <button type = "button" onclick="history.back(); return false;">Back</button>
        </div>
    </body>
    <script>
        fetch("http://127.0.0.1:5000/student/getnonacademicmarks")
          .then((response) => {
            return response.json();
          })
          .then((data) => {
            // console.log(data);
            let head = data[0];
            var fields = [];
            for (let i in head) fields.push(i);
            console.log(fields);
            var tablerow = ``;
            fields.forEach((td) => {
              tablerow += `<th>${td}</th>`;
            });
            document.querySelector(".table").innerHTML += `<tr>
                                                            ${tablerow}
                                                            </tr>`;
    
            data.forEach((row) => {
              console.log(row);
              var tablerow = ``;
              for (let i in row) console.log(i);
              var fields = [];
              for (let i in row) fields.push(i);
              console.log(fields);
    
              fields.forEach((td) => {
                tablerow += `<td>${row[td]}</td>`;
              });
    
              document.querySelector(".table").innerHTML += `<tr>
                                                            ${tablerow}
                                                            </tr>`;
            });
          });
      </script>
</html>