<html>
    <head>
        <title>Flask app</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    </head>
    <body>
        <h1 class="heading" style="text-align: center;">Student reward System</h1>
        <form class="container" style="display: flex;flex-direction: column;align-items: center;">
            <div style="    display: flex;flex-direction: column">
                <input style="margin:10px ;" placeholder="UserId" />
                <input style="margin:10px ;" placeholder="Password"/>
            </div>
        </form>
    </body>
</html>