.heading{
    text-align: center;
    width: 100%;
}
.container{
    display: flex;
}
body {
    border: 2px solid red;
    background-image:"{{ url_for('static',filename='images/classroom.jpg') }}";
    background-repeat: no-repeat;
}

/* #maindiv::before{ 
border: 2px solid red;
content: "";
position: absolute;
height: 100%;
width: 100%;
top: 0px;
left: 0px;
background: url('static/images/classroom.jpg') no-repeat center center/cover;
z-index: -1;
} */